<div class="container">
  <h1>Add Student</h1>
  <form method="post" action="/students">
    <input type="text" name="student[firstName]" placeholder="Enter your first name">
    <input type="text" name="student[lastName]" placeholder="Enter your surname">
    <input type="text" name="student[age]" placeholder="Enter your age">
    <input type="text" name="student[year]" placeholder="Enter your school year">
    <input type="text" name="student[quote]" placeholder="Enter your best quote">
    <input type="text" name="student[info]" placeholder="Enter your important info">
    <input type="text" name="student[photo]" placeholder="Enter your photo url">
    <input type="submit"class="btn" value="create">
  </form>
</div>

